.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.comment-input {
  margin-bottom: 5px;
}

.fa {
  color: black;
  font-size: 26px;
}

.voted {
  color: #246c97;
}

.upvote-btns {
  margin-top: 5px;
  display: inline-block;
  width: 80px;
  float: left;
}

.event-info {
  display: inline-block;
  float: left;
  width: 50%;
}

.fa-thumbs-up {
  padding-left: 15px;
  margin-bottom: 7px;
}

.votes {
  margin-bottom: 6px;
}

.fa-thumbs-down {
  padding-left: 15px;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}


.event-feed {
  margin-bottom: 1em;
  padding: 1em;
  background-color: rgba(189, 195, 199, 0.5);        
}

.winner {
  background-color: rgba(46, 204, 113, 0.5);
}

.round-edge {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 6px; 
  /* Firefox 1-3.6 */
     -moz-border-radius: 6px; 
          border-radius: 6px;
}

.event-table td{
  padding-right: 2em;
  padding-bottom: .25em;
}

h1.winner {
  padding: 10px;
}

h1, h3, h4, .active {
  color: #2980b9;
}

h1 {
  font-size: 40px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active,
.navbar-default .navbar-nav>.active:visited,
.navbar-default .navbar-nav>.active>a:visited,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active:focus,
.navbar-default .navbar-nav>.active,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>li.active a,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand:focus,
a {
  color: #2980b9;
}

a:hover {
  color: #2a9feb
}

.inline-header {
  display: inline;
}

.container-fluid {
  width: 84%;
}

/*.container {*/
  /*margin-right: 20px;*/
  /*margin-left: 20px;*/


/*}*/
