<!-- event name -->
<h1 class="round-edge" ng-class="{'winner': event.votes / event.groupSize > .6}">{{ event.title }}</h1>
<div class="upvote-btns">
  <span ng-click="upvote()" class="fa fa-thumbs-up fa-lg" ng-class="{voted: event.upvoters.indexOf(user_id) >= 0}"></span><br>
  <p class="votes">{{ event.votes }} votes</p>
  <span ng-click="downvote()" class="fa fa-thumbs-down fa-lg" ng-class="{voted: event.downvoters.indexOf(user_id) >= 0}"></span>
</div>

<!-- group -->
<div class="event-info">
  <p> Group: <a ui-sref="group({id: data.group._id})">{{ event.group.groupname }}</a></p>
  <!-- creator -->
  <p>Posted by: <a ui-sref="user({id: data.creator._id})">{{ event.creator.username }}</a></p>
  <!-- description -->
  <p class="description">Description: {{ event.description }}</p>
  <p class="datetime">When: {{ event.datetime | date: "EEEE, MMM d, y h:mm a" }}</p>
</div>

<!-- comment form -->
<form name="commentForm" class="commentForm" novalidate>
  <textarea required class="form-control comment-input" rows="2" ng-model="comment_text" placeholder="Add comment..."></textarea>
  <input ng-disabled="commentForm.$invalid" ng-click="postComment()" value="Submit" class="btn btn-default"><br><br>
</form>

<!-- comments -->
<section class="comments">
  <h4>Comments:</h4>
  <div class="comment" ng-repeat="comment in event.comments">
    <span class="username">{{ comment.creator }}:</span> <!--This line doesn't populate. comment.creator returns the ID. -->
    <span class="content">{{ comment.content }}</span>
  </div>
</section>

