<div ng-controller="EventController">
  <!-- event name -->
  <h1>{{ eventName }}</h1>
  <!-- group -->
  Group: {{ group }}
  <!-- creator -->
  Posted by: {{ creator }}
  <!-- description -->
  <p class="description">{{ eventDescription }}</p>
  <!-- votes -->
  <p class="votes">{{ votes }}</p>
  <!-- comment form -->
  <input type="text" placeholder="Add comment...">
  <input type="submit" value="Submit">
  <!-- comments -->
  <section class="comments">
    <div class="comment" ng-repeat="comment in comments">{{ comment }}</div>
  </section>
</div>