<section>
  <h1>Event Feed</h1>
  <div ng-repeat="event in events" ng-class="{'winner': (event.votes / event.groupSize > .6)}">
    <div>Event Name: <a ui-sref="event({id: event._id})">{{event.title}}</a></div>
    <div>Group: <a ui-sref="group({id: event.group._id})">{{event.group.groupname}}</a></div>
    <div>Description: {{event.description}}</div>
    <div>Creator: <a ui-sref="user({id: event.creator._id})">{{event.creator.username}}</a></div>
    <div>When: {{event.datetime}}</div>
    <div>Votes: {{event.votes}}</div>
    <br>
  </div>
</section>
