<!-- event name -->
<h1>{{ eventName }}</h1>
<!-- group -->
<p> Group: <a ui-sref="group({id: data.group._id})">{{ group }}</a></p>
<!-- creator -->
<p>Posted by: <a ui-sref="user({id: data.creator._id})">{{ creator }}</a></p>
<!-- description -->
<p class="description">Description: {{ eventDescription }}</p>
<!-- votes -->
<p class="votes">{{ votes }}</p>
<!-- comment form -->
<textarea class="form-control comment-input" rows="2" placeholder="Add comment..."></textarea>
<input type="submit" value="Submit" class="btn btn-default"><br><br>
<!-- comments -->
<section class="comments">
  <h4>Comments:</h4>
  <div class="comment" ng-repeat="comment in comments">
    <span class="username">{{ comment.creator }}:</span> <!--This line doesn't populate. comment.creator returns the ID. -->
    <span class="content">{{ comment.content }}</span>
  </div>
</section>
